{% extends "brewsql/base.html" %}
{% load static i18n %}
{% block title %}{% trans '供应商' %}{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-12 panel-body" align="right">{% if perms.brewsql.add_supplier %}
        <a href="{% url 'brewsql:add_supplier' %}?next={% url 'brewsql:supplier_list' %}"><button type="button" class="btn btn-primary">{% trans "添加供应商" %}</button></a>{% endif %}
    </div>
    <div class="col-lg-12">
        <section class="panel table-responsive">
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>{% trans '姓名' %}</th>
                            <th>{% trans '性别' %}</th>
                            <th>{% trans '电话' %}</th>
                            <th>{% trans '微信' %}</th>
                            <th>{% trans '邮箱' %}</th>
                            <th>{% trans '公司' %}</th>{% if perms.brewsql.change_supplier %}
                            <th></th>{% endif %}
                        </tr>
                    </thead>
                    <tbody>{% for d in data %}
                        <tr class="{% cycle '' 'active' %}">
                            <td>{{ d.id }}</td>
                            <td>{{ d.name }}</td>
                            <td>{{ d.get_gender_display }}</td>
                            <td>{{ d.mobile|default_if_none:"" }}</td>
                            <td>{{ d.wechat|default_if_none:"" }}</td>
                            <td>{{ d.email|default_if_none:"" }}</td>
                            <td>{{ d.supplier_company.company_name_cn|default_if_none:"" }}</td>
                            <td align="right">
                                <a href="{% url 'brewsql:supplier_detail' d.pk %}"><button class="btn btn-info btn-xs"><i class="fa fa-info-circle"></i></button></a>
                                {% if perms.brewsql.change_supplier %}<a href="{% url 'brewsql:supplier_update' d.pk %}?next={% url 'brewsql:supplier_list' %}"><button class="btn btn-success btn-xs"><i class="fa fa-pencil"></i></button></a>{% endif %}
                            </td>
                        </tr>{% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
        <div align="right">
            {% include 'brewsql/tablenav.html' %}
        </div>
    </div>
</div>
{% endblock %}