{% extends "brewsql/base.html" %}
{% load static i18n %}
{% block title %}{% trans '销售明细' %}{% endblock %}
{% block content %}
<section class="panel">
    <div class="panel-body">
        <div class="col-md-12">
            <form class="form-inline" role="form" method="get">
                <div class="form-group">
                    <select name="c" class="selectpicker show-tick form-control" data-live-search='true'>
                        <option value="">{% trans '所有' %}</option>{% if request.GET.c == '1' %}
                        <option value="1" selected>{% trans '待出库' %}</option>{% else %}
                        <option value="1">{% trans '待出库' %}</option>{% endif %}{% if request.GET.c == '2' %}
                        <option value="2" selected>{% trans '已出库' %}</option>{% else %}
                        <option value="2">{% trans '已出库' %}</option>{% endif %}
                    </select>
                </div>
                <div class="form-group">
                    <select name="d" class="selectpicker show-tick form-control" data-live-search='true'>
                        <option value="">{% trans '所有' %}</option>{% if request.GET.d == '1' %}
                        <option value="1" selected>{% trans '待收款' %}</option>{% else %}
                        <option value="1">{% trans '待收款' %}</option>{% endif %}{% if request.GET.d == '2' %}
                        <option value="2" selected>{% trans '已收款' %}</option>{% else %}
                        <option value="2">{% trans '已收款' %}</option>{% endif %}
                    </select>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">{% trans '起始' %}:</span>
                        <input type="date" name="s" class="form-control" value="{% if request.GET.s %}{{ request.GET.s }}{% endif %}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">{% trans '截止' %}:</span>
                        <input type="date" name="e" class="form-control" value="{% if request.GET.e %}{{ request.GET.e }}{% endif %}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control" type="text" name="q" placeholder="" value="{% if request.GET.q %}{{ request.GET.q }}{% endif %}">
                        <span class="input-group-btn"><button class="btn btn-primary" type="submit">搜索</button></span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
{% get_current_language as LANGUAGE_CODE %}
<section class="panel">
    <div class="panel-body table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>{% trans '订单编号' %}/{% trans '订单日期' %}</th>
                    <th>{% trans '产品' %}</th>
                    <th>{% trans '数量' %}</th>
                    <th>{% trans '已出库' %}</th>
                    <th>{% trans '已收款' %}</th>
                    <th>{% trans '订单金额' %}</th>
                    <th>{% trans '创建于' %}</th>
                    <th>{% trans '销售员' %}</th>
                    <th>{% trans '备注' %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for d in data %}
                <tr class="{% cycle '' 'active' %} {% if not d.is_active %}is-not-active{% endif %}">
                    <td>{{ d.pk }}</td>
                    <th><a href="{% if d.sale_order_id and perms.brewsql.view_saleorder %}{% url 'brewsql:sale_order_detail' d.sale_order_id %}{% endif %}">{{ d.sale_order.sale_order_code|default_if_none:'N/A' }}</a><br>{{ d.sale_date|date:"Y-m-d" }}</td>
                    <td>[{{ d.pack.product.product_code }}] {{ d.pack.product.product_name.product_name_cn }} ({{ d.pack.product.product_pack.product_pack_size_unit_cn }})</td>
                    <td><span class="label label-warning">{{ d.sale_num }}</span></td>
                    <td>{% if d.is_confirmed %}<label class="badge bg-success"><i class="fa fa-check"></i></label>{% else %}<label class="badge bg-important"><i class="fa  fa-times"></i></label>{% endif %}</td>
                    <td>{% if d.fee_received %}<label class="badge bg-success"><i class="fa fa-check"></i></label>{% else %}<label class="badge bg-important"><i class="fa  fa-times"></i></label>{% endif %}</td>
                    <td>¥ {{ d.sale_price_link.money_in_out|floatformat:"-2" }}</td>
                    <td>{{ d.datetime_created|date:"Y-m-d H:i:m" }}</td>
                    <td>{{ d.sale_order.employee|default_if_none:'' }}</td>
                    <td>{{ d.notes|default_if_none:'' }}</td>
                    <td align="right">{% if perms.brewsql.change_sale %}
                        <a href="{% url 'brewsql:sale_update' d.pk %}?next={{ request.path }}"><button class="btn btn-success btn-xs"><i class="fa fa-pencil"></i></button></a>{% endif %}
                        {% if not d.is_confirmed and perms.brewsql.confirm_sale %}
                        <a data-toggle="modal" href="#saleConfirm_{{ d.pk }}"><button class="btn btn-warning btn-xs"><i class="fa fa-sign-out"></i></button></a>
                        <div align="left" class="modal fade " id="saleConfirm_{{ d.pk }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <form method="post" action="{% url 'brewsql:sale_confirm' %}?next={{ request.path }}">{% csrf_token %}
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title">{% trans '请确认出库' %}</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>{% trans '单号' %}：{{ d.sale_order.sale_order_code|default_if_none:'N/A' }}</p>
                                            <p>{% trans '产品' %}：[{{ d.pack.product.product_code }}] {{ d.pack.product.product_name.product_name_cn }} ({{ d.pack.product.product_pack.product_pack_size_unit_cn }})</p>
                                            <p>{% trans '数量' %}：{{ d.sale_num }}</p>
                                            <input type="hidden" name="sale_id" value="{{ d.pk }}">
                                            <input type="hidden" name="next" value="{% url 'brewsql:sale_list' %}?c=1">
                                        </div>
                                        <div class="modal-footer">
                                            <button data-dismiss="modal" class="btn btn-default" type="button">{% trans '关闭' %}</button>
                                            <button class="btn btn-success" type="submit">{% trans '确认' %}</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% if not d.fee_received and perms.brewsql.confirm_fee_receive %}
                        <a data-toggle="modal" href="#salePay_{{ d.pk }}"><button class="btn btn-danger btn-xs"><i class="fa fa-money"></i></button></a>
                        <div align="left" class="modal fade " id="salePay_{{ d.pk }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <form method="post" action="{% url 'brewsql:sale_pay' %}?next={{ request.path }}">{% csrf_token %}
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title">{% trans '请确认收款' %}</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>{% trans '单号' %}：{{ d.sale_order.sale_order_code|default_if_none:'N/A' }}</p>
                                            <p>{% trans '产品' %}：[{{ d.pack.product.product_code }}] {{ d.pack.product.product_name.product_name_cn }} ({{ d.pack.product.product_pack.product_pack_size_unit_cn }})</p>
                                            <p>{% trans '数量' %}：{{ d.sale_num }}</p>
                                            <p>{% trans '金额' %}：¥ {{ d.sale_price_link.money_in_out|floatformat:"-2" }}</p>
                                            <input type="hidden" name="sale_id" value="{{ d.pk }}">
                                            <input type="hidden" name="next" value="{% url 'brewsql:sale_list' %}?d=1">
                                        </div>
                                        <div class="modal-footer">
                                            <button data-dismiss="modal" class="btn btn-default" type="button">{% trans '关闭' %}</button>
                                            <button class="btn btn-success" type="submit">{% trans '确认' %}</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if perms.brewsql.can_export_sale_data %}
        <div align="right">
            <a data-toggle="modal" href="#data_export"><span class="btn btn-default btn-sm">导出数据</span></a>
            <div align="left" class="modal fade " id="data_export" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">{% trans '请确认导出数据' %}</h4>
                        </div>
                        <div class="modal-body">
                            <p>{% trans '请确认是否要导出销售数据！' %}</p>
                        </div>
                        <div class="modal-footer">
                            <button data-dismiss="modal" class="btn btn-default" type="button">{% trans '关闭' %}</button>
                            <a href="{% url 'brewsql-api:sale-xls' %}?s={{ request.GET.s }}&e={{ request.GET.e }}"><button class="btn btn-success" type="submit">{% trans '确认' %}</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>{% endif %}
    </div>
</section>
<div align="right">
    {% include 'brewsql/tablenav.html' %}
</div>
<div class="clearfix"></div>
<section class="row">
    <div class="col-md-5">
        <section class="panel">
            <div class="panel-body text-center">
                <div id="pie"></div>
            </div>
        </section>
    </div>
    <div class="col-md-7">
        <section class="panel">
            <div class="panel-body text-center">
                <div id="column"></div>
            </div>
        </section>
    </div>
</section>
{% endblock %}
{% block this_js %}
<script src="{% static 'flatlab/assets/highcharts/highcharts.js' %}"></script>
<script src="{% static 'flatlab/assets/highcharts/modules/exporting.js' %}"></script>
<script src="{% static 'flatlab/assets/highcharts/modules/export-data.js' %}"></script>
<script language="JavaScript">
Highcharts.chart('pie', {
    chart: {plotBackgroundColor: null, plotBorderWidth: null, plotShadow: false},
    title: {text: '{% trans "产品出库比例" %}'},
    tooltip: {pointFormat: '{% trans "数量" %}: {point.y}<br>{% trans "比例" %}: <b>{point.percentage:.1f}%</b>'},
    plotOptions: {pie: {allowPointSelect: true, cursor: 'pointer', dataLabels: {enabled: false}, showInLegend: true}},
    credits : {enabled: false},
    series: [{type: 'pie', name: '{% trans "产品比例" %}', data: {{ pie_data|safe }}}]
});
</script>
<script language="JavaScript">
Highcharts.chart('column', {
    chart: {type: 'column'},
    title: {text: '{% trans "产品出库数量统计" %}'},
    xAxis: {categories: {{ column_data_c|safe }}, crosshair: true, labels: {rotation: 15}},
    yAxis: {min: 0, title: {text: '{% trans "出库数量" %}'}},
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y}</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {column: {pointPadding: 0.2, borderWidth: 0}},
    credits : {enabled: false},
    series: {{ column_data_s|safe }}
});
</script>
{% endblock %}