{% extends "brewsql/base.html" %}
{% load static i18n %}
{% block title %}{% trans '更新生产批次' %}{% endblock %}
{% block this_css %}
<link href="{% static 'flatlab/css/bootstrap-select.min.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-offset-2 col-lg-8">
        <section class="panel">
            <header class="panel-heading">
                {% trans "更新生产批次" %}
                {% if form.errors %}
                <p>{% trans "您提交的数据有误,请认真检查!" %}</p>
                {% endif %}
            </header>
            <div class="panel-body">
                <form class="form-horizontal" method="post">{% csrf_token %}
                    <input type="hidden" name="modified_by" id="id_modified_by" value="{{ request.user.id }}">
                    <div class="form-group">
                        <div class="col-lg-2 control-label">{{ form.product_name.label_tag }}</div>
                        <div class="col-lg-4">
                            {{ form.product_name }}
                            <p class="help-block">{{ form.product_name.errors }}</p>
                        </div>
                        <div class="col-lg-2 control-label">{{ form.theory_days.label_tag }}</div>
                        <div class="col-lg-4">
                            {{ form.theory_days }}
                            <p class="help-block">{{ form.theory_days.errors }}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-2 control-label">{{ form.tank.label_tag }}</div>
                        <div class="col-lg-4">
                            {{ form.tank }}
                            <p class="help-block">{{ form.tank.errors }}</p>
                        </div>
                        <div class="col-lg-2 control-label">{{ form.operator.label_tag }}</div>
                        <div class="col-lg-4">
                            {{ form.operator }}
                            <p class="help-block">{{ form.operator.errors }}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-2 control-label">{{ form.brew_batch_code.label_tag }}</div>
                        <div class="col-lg-4">
                            {{ form.brew_batch_code }}
                            <p class="help-block">{{ form.brew_batch_code.errors }}</p>
                        </div>
                        <div class="col-lg-2 control-label">{{ form.date_start.label_tag }}</div>
                        <div class="col-lg-4">
                            {{ form.date_start }}
                            <p class="help-block">{{ form.date_start.errors }}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-2 control-label">{{ form.notes.label_tag }}</div>
                        <div class="col-lg-10">
                            {{ form.notes }}
                            <p class="help-block">{{ form.notes.errors }}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12" align="right">
                            <button type="submit" class="btn btn-primary">{% trans "提交" %}</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>
{% endblock %}
{% block this_js %}
<script src="{% static 'flatlab/js/bootstrap-select.min.js' %}"></script>
{% endblock %}