{% extends "brewsql/base.html" %}
{% load static i18n %}
{% block title %}{% trans '编辑分组权限' %}{% endblock %}
{% block this_css %}
<link type="text/css" href="{% static 'flatlab/css/bootstrap-select.min.css' %}" rel="stylesheet">
<link type="text/css" href="{% static 'flatlab/assets/jquery-multi-select/css/multi-select.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
{% get_current_language as LANGUAGE_CODE %}
<div class="row">
    <div class="col-lg-offset-1 col-lg-10">
        <section class="panel">
            <header class="panel-heading">
                {% trans "编辑分组权限" %}
                {% if form.errors %}
                {{ form.errors }}
                <p>{% trans "您提交的数据有误,请认真检查!" %}</p>
                {% endif %}
            </header>
            <div class="panel-body">
                <form class="form-horizontal" method="post">{% csrf_token %}
                    <div class="form-group">
                        <div class="col-lg-1 control-label">{{ form.name.label_tag }}</div>
                        <div class="col-lg-4">
                            {{ form.name }}
                            <p class="help-block">{{ form.name.errors }}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-1 control-label">{{ form.permissions.label_tag }}</div>
                        <div class="col-lg-11">
                            {{ form.permissions }}
                            <p class="help-block">{{ form.permissions.errors }}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12" align="right">
                            <button type="submit" class="btn btn-primary">{% trans "提交" %}</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel-body">
                <h4>⚠️注意：</h4>
                <p>
                    1. <b>左侧</b>为【未选择】的用户权限，<b>右侧</b>为【已选择】的用户权限；<br>
                    2. 拥有[员工|Can add 员工]权限的用户可以<b>创建新用户和新员工</b>；<br>
                    3. 拥有[员工|Can change 员工]权限的用户可以<b>编辑用户资料及权限分组</b>。
                </p>
            </div>
        </section>
    </div>
</div>
{% endblock %}
{% block this_js %}
<script type="text/javascript" src="{% static 'flatlab/js/bootstrap-select.min.js' %}"></script>
<script type="text/javascript" src="{% static 'flatlab/assets/jquery-multi-select/js/jquery.multi-select.js' %}"></script>
<script type="text/javascript" src="{% static 'flatlab/assets/jquery-multi-select/js/jquery.quicksearch.js' %}"></script>
<script>
    $('#id_permissions').multiSelect({
        selectableHeader: "<input type='text' class='form-control search-input' autocomplete='off' placeholder='search...'>",
        selectionHeader: "<input type='text' class='form-control search-input' autocomplete='off' placeholder='search...'>",
        afterInit: function (ms) {
            var that = this,
                $selectableSearch = that.$selectableUl.prev(),
                $selectionSearch = that.$selectionUl.prev(),
                selectableSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selectable:not(.ms-selected)',
                selectionSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selection.ms-selected';

            that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
                .on('keydown', function (e) {
                    if (e.which === 40) {
                        that.$selectableUl.focus();
                        return false;
                    }
                });

            that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
                .on('keydown', function (e) {
                    if (e.which == 40) {
                        that.$selectionUl.focus();
                        return false;
                    }
                });
        },
        afterSelect: function () {
            this.qs1.cache();
            this.qs2.cache();
        },
        afterDeselect: function () {
            this.qs1.cache();
            this.qs2.cache();
        }
    });
</script>
{% endblock %}