{% extends "brewsql/base.html" %}
{% load static i18n %}
{% block title %}{% trans '新建产品名称' %}{% endblock %}
{% block this_css %}
<link href="{% static 'flatlab/css/bootstrap-select.min.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-offset-2 col-lg-8">
        <section class="panel">
            <header class="panel-heading">
                {% trans "新建产品名称" %}
                {% if form.errors %}
                <p>{% trans "您提交的数据有误,请认真检查!" %}</p>
                {% endif %}
            </header>
            <div class="panel-body">
                <form class="form-horizontal" method="post" action="{% url 'brewsql:add_productname' %}?next={{ request.GET.next }}">{% csrf_token %}
                    {% if request.user.is_authenticated %}
                        <input type="hidden" name="created_by" id="id_created_by" value="{{ request.user.id }}">
                    {% endif %}
                    <div class="form-group">
                        <div class="col-lg-2 control-label">{{ form.product_name_code.label_tag }}</div>
                        <div class="col-lg-4">
                            {{ form.product_name_code }}
                            <p class="help-block">{{ form.product_name_code.errors }}</p>
                        </div>
                        <div class="col-lg-2 control-label">{{ form.product_type.label_tag }}</div>
                        <div class="col-lg-4">
                            {{ form.product_type }}
                            <p class="help-block">{{ form.product_type.errors }}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-2 control-label">{{ form.product_name_cn.label_tag }}</div>
                        <div class="col-lg-4">
                            {{ form.product_name_cn }}
                            <p class="help-block">{{ form.product_name_cn.errors }}</p>
                        </div>
                        <div class="col-lg-2 control-label">{{ form.product_name_en.label_tag }}</div>
                        <div class="col-lg-4">
                            {{ form.product_name_en }}
                            <p class="help-block">{{ form.product_name_en.errors }}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-2 control-label">{{ form.brewer.label_tag }}</div>
                        <div class="col-lg-4">
                            {{ form.brewer }}
                            <p class="help-block">{{ form.brewer.errors }}</p>
                        </div>
                        <div class="col-lg-2 control-label">{{ form.client.label_tag }}</div>
                        <div class="col-lg-4">
                            {{ form.client }}
                            <p class="help-block">{{ form.client.errors }}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-2 control-label">{{ form.notes.label_tag }}</div>
                        <div class="col-lg-10">
                            {{ form.notes }}
                            <p class="help-block">{{ form.notes.errors }}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12" align="right">
                            <button type="submit" class="btn btn-primary">{% trans "提交" %}</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>
{% endblock %}
{% block this_js %}
<script src="{% static 'flatlab/js/bootstrap-select.min.js' %}"></script>
{% endblock %}