{% extends "brewsql/base.html" %}
{% load static i18n %}
{% block title %}{% trans '原料批次' %}{% endblock %}
{% block content %}
<section class="panel">
    <div class="panel-body">
        <div class="col-md-9">
            <form class="form-inline" role="form" method="get">
                <div class="form-group">
                    <select name="c" class="selectpicker show-tick form-control" data-live-search='true'>
                        <option value="">{% trans '所有类型' %}</option>
                        {% for ss in material_category %}
                            {% if ss.pk|floatformat:'0' == request.GET.c|floatformat:'0' %}
                            <option value="{{ ss.pk }}" selected>{{ ss.material_category_cn }}</option>
                            {% else %}
                            <option value="{{ ss.pk }}" >{{ ss.material_category_cn }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">{% trans '起始' %}:</span>
                        <input type="date" name="s" class="form-control" value="{% if request.GET.s %}{{ request.GET.s }}{% endif %}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">{% trans '截止' %}:</span>
                        <input type="date" name="e" class="form-control" value="{% if request.GET.e %}{{ request.GET.e }}{% endif %}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control" type="text" name="q" placeholder="" value="{% if request.GET.q %}{{ request.GET.q }}{% endif %}">
                        <span class="input-group-btn"><button class="btn btn-primary" type="submit">搜索</button></span>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-3" style="text-align:right;">{% if perms.brewsql.add_materialbatch %}
            <a href="{% url 'brewsql:add_material_batch' %}?next={{ request.path }}"><button type="button" class="btn btn-primary">{% trans "添加批次" %}</button></a>{% endif %}{% if perms.brewsql.add_materialin %}
            <a href="{% url 'brewsql:add_material_in' %}?next={{ request.path }}"><button type="button" class="btn btn-success">{% trans "原料入库" %}</button></a>{% endif %}{% if perms.brewsql.add_materialout %}
            <a href="{% url 'brewsql:add_material_out' %}?next={{ request.path }}"><button type="button" class="btn btn-danger">{% trans "原料出库" %}</button></a>{% endif %}
        </div>
    </div>
</section>
<section class="panel">
    <div class="panel-body table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>{% trans '原料批次' %}</th>
                    <th>{% trans '显示' %}</th>
                    <th>{% trans '原料编号' %}</th>
                    <th>{% trans '原料名称' %}</th>{% if not request.GET.c %}
                    <th>{% trans '原料类型' %}</th>{% endif %}
                    <th>{% trans '包装规格' %}</th>
                    <th>{% trans '保质期' %}</th>
                    <th>{% trans '参数' %}</th>
                    <th>{% trans '总入库量' %}</th>
                    <th>{% trans '总出库量' %}</th>
                    <th>{% trans '剩余库存' %}</th>
                    <th>{% trans '参数' %}</th>
                    <th>{% trans '备注' %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>{% for d in data %}
                <tr class="{% cycle '' 'active' %}">
                    <td>{{ d.material_batch_code }}</td>
                    <td>{% if d.state %}<label class="btn btn-success btn-xs"><i class="fa fa-check"></i></label>{% else %}<label class="btn btn-danger btn-xs"><i class="fa fa-times"></i></label>{% endif %}</td>
                    <th>{{ d.material.material_code }}</th>
                    <td>{{ d.material.material_cn }}</td>
                    {% if not request.GET.c %}
                        <td>{{ d.material.material_category.material_category_cn }}</td>
                    {% endif %}
                    <td>{{ d.material_pack_size_unit }}</td>
                    <td>{{ d.expire_date|date:"Y-m-d" }}</td>
                    <td>{{ d.para|default_if_none:'' }}</td>
                    <td><span class="label label-success">{{ d.material_batch_total_in|floatformat:"-3" }}</span></td>
                    <td><span class="label label-warning">{{ d.material_batch_total_out|floatformat:"-3" }}</span></td>
                    <td><span class="label label-danger">{{ d.material_batch_total_left|floatformat:"-3" }}</span></td>
                    <td>{{ d.para|default_if_none:'' }}</td>
                    <td>{{ d.notes }}{% if d.qc_report %} <a href="{{ MEDIA_URL }}{{ d.qc_report }}"><span class="btn btn-info btn-xs">{{ d.qc_report_name }}</span></a>{% endif %}</td>
                    <td style="text-align:right;">
                        <a href="{% url 'brewsql:material_batch_detail' d.pk %}?next={{ request.path }}"><button class="btn btn-info btn-xs"><i class="fa fa-info-circle"></i></button></a>
                        {% if perms.brewsql.change_materialbatch %}<a href="{% url 'brewsql:material_batch_update' d.pk %}?next={{ request.path }}"><button class="btn btn-success btn-xs"><i class="fa fa-pencil"></i></button></a>{% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
<div style="text-align:right;">
    {% include 'brewsql/tablenav.html' %}
</div>
{% endblock %}