{% extends "brewsql/base.html" %}
{% load static i18n %}
{% block title %}{% trans '原料存储位置管理' %}{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-6">
        <section class="panel table-responsive">
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>{% trans '位置编号' %}</th>
                            <th>{% trans '位置描述' %}</th>{% if perms.brewsql.change_warehouse %}
                            <th></th>{% endif %}
                        </tr>
                    </thead>
                    <tbody>{% for d in warehouse_list %}
                        <tr class="{% cycle '' 'active' %}">
                            <td>{{ d.pk }}</td>
                            <td>{{ d.place_code }}</td>
                            <td>{{ d.place_desc }}</td>{% if perms.brewsql.change_warehouse %}
                            <td align="right"><a href="{% url 'brewsql:warehouse_update' d.pk %}"><button class="btn btn-success btn-xs"><i class="fa fa-pencil"></i></button></a></td>{% endif %}
                        </tr>{% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </div>{% if perms.brewsql.add_warehouse %}
    <div class="col-lg-6">
        <section class="panel">
            <header class="panel-heading">
                {% trans '添加原料存储位置' %}
            </header>
            <div class="panel-body">
                <form method="post" action="{% url 'brewsql:warehouse_list' %}?next={{ request.GET.next }}">{% csrf_token %}
                    {{ form.non_field_errors }}
                    <input type="hidden" name="created_by" id="id_created_by" value="{{ request.user.id }}">
                    <input type="hidden" name="modified_by" id="id_modified_by" value="{{ request.user.id }}">
                    <div class="form-group col-md-12">
                        <div class="col-sm-3">{{ form.place_code }}{{ form.place_code.errors }}</div>
                        <div class="col-sm-8">{{ form.place_desc }}{{ form.place_desc.errors }}</div>
                        <div class="col-sm-1" align="right"><button type="submit" class="btn btn-primary">{% trans "添加" %}</button></div>
                    </div>
                </form>
            </div>
      </section>
    </div>{% endif %}
</div>
{% endblock %}