{% extends "brewsql/base.html" %}
{% load static i18n %}
{% block title %}{% trans '原料包装管理' %}{% endblock %}
{% block this_css %}
<link href="{% static 'flatlab/css/bootstrap-select.min.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-6">
        <section class="panel table-responsive">
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>{% trans '包装规格' %}</th>
                            <th>{% trans '单位' %}</th>{% if perms.brewsql.change_materialpacksizeunit %}
                            <th></th>{% endif %}
                        </tr>
                    </thead>
                    <tbody>{% for d in data %}
                        <tr class="{% cycle '' 'active' %}">
                            <td>{{ d.pk }}</td>
                            <td>{{ d.material_pack_size|floatformat:-3 }}</td>
                            <td>{{ d.material_pack_unit }}</td>{% if perms.brewsql.change_materialpacksizeunit %}
                            <td align="right"><a href="{% url 'brewsql:material_pack_update' d.pk %}?next={{ request.path }}"><button class="btn btn-success btn-xs"><i class="fa fa-pencil"></i></button></a></td>{% endif %}
                        </tr>{% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </div>
    {% if perms.brewsql.add_materialpacksizeunit %}
    <div class="col-lg-6">
        <section class="panel">
            <header class="panel-heading">
                {% trans '添加原料包装' %}
            </header>
            <div class="panel-body">
                <form method="post" action="{{ request.path }}?next={{ request.GET.next }}">{% csrf_token %}
                    {{ form.non_field_errors }}
                    <input type="hidden" name="created_by" id="id_created_by" value="{{ request.user.id }}">
                    <input type="hidden" name="modified_by" id="id_modified_by" value="{{ request.user.id }}">
                    <div class="form-group col-md-12">
                        <div class="col-sm-5">{{ form.material_pack_size }}{{ form.material_pack_size.errors }}</div>
                        <div class="col-sm-5">{{ form.material_pack_unit }}{{ form.material_pack_unit.errors }}</div>
                        <div class="col-sm-2" align="right"><button type="submit" class="btn btn-primary">{% trans "添加" %}</button></div>
                    </div>
                </form>
            </div>
      </section>
    </div>{% endif %}
</div>
{% endblock %}
{% block this_js %}
<script src="{% static 'flatlab/js/bootstrap-select.min.js' %}"></script>
{% endblock %}