{% extends "brewsql/base.html" %}
{% load static i18n %}
{% block title %}{% trans '原料出库' %}{% endblock %}
{% block content %}
<section class="panel">
    <div class="panel-body">
        <div class="col-md-9">
            <form class="form-inline" role="form" method="get">
                <div class="form-group">
                    <select name="c" class="selectpicker show-tick form-control" data-live-search='true'>
                        <option value="">{% trans '所有类型' %}</option>
                        {% for ss in material_category %}
                            {% if ss.pk|floatformat:'0' == request.GET.c|floatformat:'0' %}
                            <option value="{{ ss.pk }}" selected>{{ ss.material_category_cn }}</option>
                            {% else %}
                            <option value="{{ ss.pk }}" >{{ ss.material_category_cn }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">{% trans '起始' %}:</span>
                        <input type="date" name="s" class="form-control" value="{% if request.GET.s %}{{ request.GET.s }}{% endif %}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">{% trans '截止' %}:</span>
                        <input type="date" name="e" class="form-control" value="{% if request.GET.e %}{{ request.GET.e }}{% endif %}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control" type="text" name="q" placeholder="" value="{% if request.GET.q %}{{ request.GET.q }}{% endif %}">
                        <span class="input-group-btn"><button class="btn btn-primary" type="submit">搜索</button></span>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-3" style="text-align:right;">{% if perms.brewsql.add_materialout %}
            <a href="{% url 'brewsql:add_material_out' %}?next={{ request.path }}"><button type="button" class="btn btn-primary">{% trans "原料出库" %}</button></a>{% endif %}
        </div>
    </div>
</section>
<section class="panel">
    <div class="panel-body table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>{% trans '出库日期' %}</th>
                    <th>{% trans '原料批次' %}</th>
                    <th>{% trans '原料编号' %}</th>
                    <th>{% trans '原料名称' %}</th>{% if not request.GET.c %}
                    <th>{% trans '原料类型' %}</th>{% endif %}
                    <th>{% trans '相关生产批次' %}</th>
                    <th>{% trans '数量' %}</th>
                    <th>{% trans '备注' %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>{% for d in data %}
                <tr class="{% cycle '' 'active' %}">
                    <td>{{ d.id }}</td>
                    <td>{{ d.material_out_date|date:"Y-m-d" }}</td>
                    {% if perms.brewsql.view_materialbatch %}<th><a href="{% url 'brewsql:material_batch_detail' d.material_batch_id %}">{{ d.material_batch.material_batch_code }}</a></th>{% else %}
                    <td>{{ d.material_batch.material_batch_code }}</td>{% endif %}
                    <td>{{ d.material_batch.material.material_code }}</td>
                    <td>{{ d.material_batch.material.material_cn }}</td>{% if not request.GET.c %}
                    <td>{{ d.material_batch.material.material_category.material_category_cn }}</td>{% endif %}
                    <td>{{ d.brew.brew_batch_code }}</td>
                    <td><span class="label label-warning">{{ d.amount|floatformat:"-3" }}</span></td>
                    <td>{{ d.notes }}</td>
                    <td style="text-align:right;">{% if perms.brewsql.change_materialout %}
                        <a href="{% url 'brewsql:material_out_update' d.pk %}?next={{ request.path }}"><button class="btn btn-success btn-xs"><i class="fa fa-pencil"></i></button></a>{% endif %}{% if perms.brewsql.delete_materialout %}
                        <a href="{% url 'brewsql:material_out_delete' d.pk %}?next={{ request.path }}"><button class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i></button></a>{% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
<div style="text-align:right;">
    {% include 'brewsql/tablenav.html' %}
</div>
{% endblock %}