{% extends "brewsql/base.html" %}
{% load static i18n %}
{% block title %}{% trans '删除发酵数据' %}{% endblock %}
{% block content %}
{% get_current_language as LANGUAGE_CODE %}
<div class="row">
    <div class="col-lg-offset-2 col-lg-8">
        <section class="panel">
            <header class="panel-heading">
                {% trans "删除发酵数据" %}
                {% if form.errors %}
                <p>{% trans "您提交的数据有误,请认真检查!" %}</p>
                {% endif %}
            </header>
            <div class="panel-body">
                <form class="form-horizontal" method="post" action="{{ request.path }}?next={{ request.GET.next }}">{% csrf_token %}
                    <div class="form-group">
                        <div class="col-lg-2 control-label">{% trans '生产批次' %}</div>
                        <div class="col-lg-4">
                            {{ object.brew }}
                        </div>
                        <div class="col-lg-2 control-label">{% trans '糖度/比重' %}</div>
                        <div class="col-lg-4">
                            {{ object.sg_plato }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-2 control-label">{% trans '真实温度' %}</div>
                        <div class="col-lg-4">
                            {{ object.t_real }}
                        </div>
                        <div class="col-lg-2 control-label">{% trans '设置温度' %}</div>
                        <div class="col-lg-4">
                            {{ object.t_set }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-2 control-label">{% trans '压力/Bar' %}</div>
                        <div class="col-lg-4">
                            {{ object.bar }}
                        </div>
                        <div class="col-lg-2 control-label">{% trans '酵母数' %}</div>
                        <div class="col-lg-4">
                            {{ object.cell_mml }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-2 control-label">{% trans '记录者' %}</div>
                        <div class="col-lg-4">
                            {{ object.recorder }}
                        </div>
                        <div class="col-lg-2 control-label">{% trans '记录于' %}</div>
                        <div class="col-lg-4">
                            {{ object.recorded }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-2 control-label">{% trans '备注' %}</div>
                        <div class="col-lg-10">
                            {{ object.notes }}
                            <p class="help-block">{{ object.notes.errors }}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12" style="text-align:right;">
                            <button type="submit" class="btn btn-primary" value="Update">{% trans "删除" %}</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>
{% endblock %}