{% extends "brewsql/base.html" %}
{% load i18n %}
{% block title %}{% trans '风格更新' %}{% endblock %}
{% block content %}
<div class="panel">
    <div class="panel-heading">
        {% trans "风格更新" %}
        {% if form.errors %}
        <p>{% trans "提交的数据有误,请认真检查!" %}</p>
        {{ form.errors }}
        {% endif %}
    </div>
    <div class="panel-body">
        <form method="post" enctype="multipart/form-data">{% csrf_token %}
            {{ form.non_field_errors }}
            <input type="hidden" name="modified_by" id="id_modified_by" value="{{ request.user.id }}">
            <div class="form-group col-md-12">
                <div class="col-sm-3">{{ form.product_style_cn }}{{ form.product_style_cn.errors }}<br>{{ form.product_style_en }}{{ form.product_style_en.errors }}</div>
                <div class="col-sm-4">{{ form.product_style_desc_cn }}{{ form.product_style_desc_cn.errors }}</div>
                <div class="col-sm-4">{{ form.product_style_desc_en }}{{ form.product_style_desc_en.errors }}</div>
                <div class="col-sm-1" align="right"><button type="submit" class="btn btn-primary">{% trans "更新" %}</button></div>
            </div>
        </form>
    </div>
</div>
{% endblock %}